<!DOCTYPE html>
<html>
  <head>
    <title>XPathify Those Selectors, the Watir way.</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>

    <script type="text/javascript">
      $(document).ready(function() {
        $('#convert').on('click', function () {
          $.ajax({
            type: 'POST',
            url: '/xpath',
            data: JSON.stringify({selector: $('#selector').val()}),
            success: function (data) { $("#xpath").val(data.xpath); },
            contentType: "application/json",
            dataType: 'json'
          });
        });
      })
    </script>
  </head>
<body>
<div class="container">
  <div class="row" style="height: 250px"></div>
  <div class="row bg-faded">
    <div class="col-5">
      <textarea class="form-control" id="selector" rows="3"></textarea>
    </div>
    <div class="col-2 text-center">
      <button id="convert" type="button" class="btn btn-primary">Convert</button>
    </div>
    <div class="col-5">
      <textarea class="form-control" id="xpath" rows="3" readonly></textarea>
    </div>
  </div>
</div>
</body>
</html>