<!DOCTYPE html>
<html>
<head>
  <title>XPathify Those Selectors, the Watir way.</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>

  <script type="text/javascript">
      $(document).ready(function () {
          $('#generate').on('click', function () {
              $.ajax({
                  type: 'POST',
                  url: '/xpath',
                  data: JSON.stringify($('#locators').serializeArray()),
                  success: function (data) {
                      $("#result").val(JSON.stringify(data));
                  },
                  contentType: "application/json",
                  dataType: 'json'
              });
          });
      })
  </script>

  <script>
      function textOrBool(that) {
          if (that.value == "value") {
              document.getElementById(that.name.replace("type", "boolblk")).style.display = "none";
              document.getElementById(that.name.replace("type", "valueblk")).style.display = "block";
          } else {
              document.getElementById(that.name.replace("type", "boolblk")).style.display = "block";
              document.getElementById(that.name.replace("type", "valueblk")).style.display = "none";
          }
      }
  </script>

  <script>
      var counter = 0;

      function moreFields(template) {
          counter++;
          var newFields = document.getElementById(template).cloneNode(true);
          newFields.style.display = 'block';

          updateChildren(newFields);
          newFields.id = template.replace("template", "") + counter;

          var insertHere = document.getElementById('end_attributes');
          insertHere.parentNode.insertBefore(newFields, insertHere);
      }

      function updateChildren(thisNode) {
          var children = thisNode.children;
          for (var i = 0; i < children.length; i++) {
              updateChildren(children[i]);
          }
          updateAttributes(thisNode);
      }

      function updateAttributes(element) {
          var thename = element.name;
          if (thename)
              element.name = thename + counter;
          var thefor = element.htmlFor;
          if (thefor)
              element.htmlFor = thefor + counter;
          var theid = element.id;
          if (theid)
              element.id = theid + counter;
      }

      window.onload = function () {
          moreFields("attrtemplate");
      }
  </script>

</head>
<body>
<div class="container">
  <div class="row" style="height: 25px"></div>
  <h1 class="h1" style="text-align: center">XPath Generation</h1>
  <div class="row" style="height: 25px"></div>

  <form id="locators">
    <h3 class="h3">Attributes</h3>

    <div id="attrtemplate" class="form-group" style="display: none">

      <label for="attrtype" class="col-form-label col-sm-1">Type</label>
      <select name="attrtype" id="attrtype" onchange="textOrBool(this);">
        <option value="value">Value</option>
        <option value="exist">Existence</option>
      </select> <br/>

      <label for="attrname" class="col-form-label col-sm-2">Name</label>
      <div class="col-sm-10">
        <input class="form-control" id="attrname" placeholder="Name" name="attrname">
      </div>

      <span id="attrboolblk" style="display: none">
        <div id="attrbool" class="col-sm-2">
          <label for="attrbool_yes">Present</label>
          <input type="radio" name="attrbool" value="true"/>
          <label for="attrbool_no">Not Present</label>
          <input type="radio" name="attrbool" value="false"/>
        </div>
      </span>

      <span id="attrvalueblk" style="display: block">
        <label for="attrvalue" class="col-form-label col-sm-10">Value</label>
        <div class="col-sm-10">
          <input class="form-control" id="attrvalue" placeholder="Value" name="attrvalue">
        </div>
      </span>
      <button type='button' onclick="this.parentNode.parentNode.removeChild(this.parentNode);">Remove Attribute</button>
    </div>

    <button type='button' id="end_attributes" onclick="moreFields('attrtemplate')">Add Attribute</button>

  </form>
  <div class="row"><br/></div>
  <div class="row">
    <div class="col-12 text-center">
      <button id="generate" type="button" class="btn btn-primary">Generate</button>
    </div>
  </div>
  <div class="row"><br/></div>
  <div class="row">
    <div class="col-12">
      <label for="result" class="h2">Result</label>
    </div>
    <div class="col-12">
      <textarea class="form-control" id="result" rows="3" readonly></textarea>
    </div>
  </div>
</div>
</body>
</html>