<!DOCTYPE html>
<html>
  <head>
    <title>XPathify Those Selectors, the Watir way.</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>

    <script type="text/javascript">
      $(document).ready(function() {
        $('#generate').on('click', function () {
          $.ajax({
            type: 'POST',
            url: '/xpath',
            data: JSON.stringify($('#locators').serializeArray()),
            success: function (data) { $("#result").val(JSON.stringify(data)); },
            contentType: "application/json",
            dataType: 'json'
          });
        });
      })
    </script>
  </head>
<body>
<div class="container">
  <div class="row" style="height: 100px"></div>
  <form id="locators" class="container">
    <div class="row bg-faded">
      <div class="form-group col-sm-6">
        <h3 class="h3">Watir Locators</h3>
        <div class="form-group row">
          <label for="watirAttribute" class="col-form-label col-sm-4">Attribute Name</label>
          <div class="col-sm-8">
            <input class="form-control" id="attrname1" placeholder="Name" name="attrname1">
          </div>
          <label for="watirAttribute" class="col-form-label col-sm-4">Attribute Value</label>
          <div class="col-sm-8">
            <input class="form-control" id="attrvalue1" placeholder="Value" name="attrvalue1">
          </div>
          <label for="watirAttribute" class="col-form-label col-sm-4">Attribute Name</label>
          <div class="col-sm-8">
            <input class="form-control" id="attrname2" placeholder="Name" name="attrname2">
          </div>
          <label for="watirAttribute" class="col-form-label col-sm-4">Attribute Value</label>
          <div class="col-sm-8">
            <input class="form-control" id="attrvalue2" placeholder="Value" name="attrvalue2">
          </div>
          <label for="watirAttribute" class="col-form-label col-sm-4">Attribute Name</label>
          <div class="col-sm-8">
            <input class="form-control" id="attrname3" placeholder="Name" name="attrname3">
          </div>
          <label for="watirAttribute" class="col-form-label col-sm-4">Attribute Value</label>
          <div class="col-sm-8">
            <input class="form-control" id="attrvalue3" placeholder="Value" name="attrvalue3">
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="row"><br/></div>
  <div class="row">
    <div class="col-12 text-center">
      <button id="generate" type="button" class="btn btn-primary">Generate</button>
    </div>
  </div>
  <div class="row"><br/></div>
  <div class="row">
    <div class="col-12">
      <label for="result" class="h2">Result</label>
    </div>
    <div class="col-12">
      <textarea class="form-control" id="result" rows="3" readonly></textarea>
    </div>
  </div>
</div>
</body>
</html>