<!DOCTYPE html>
<html>
    <head>
        <title>XPathify Those Selectors, the Watir way.</title>
        <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function() {
                $('#convert').on('click', function () {
                        $.post("xpath", {selector: $('#selector').val()}, function (result) {
                            $("#xpath").val(result.xpath);
                        });
                });
            })
        </script>

    </head>
<body>
<textarea id="selector"></textarea>
<button id="convert">Convert</button>
<textarea id="xpath"></textarea>
</body>
</html>